In [1]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 88 kB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Collecting distro
  Downloading distro-1.6.0-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.6.0 tabula-py-2.3.0

In [2]:
import pandas as pd
from tabula import read_pdf
# [top,left,bottom,width]
box = [4,3,19,27]
fc = 28.28
for i in range(0, len(box)):
   box[i] *= fc

# **Prestamos de Misiones por Actividad**

In [3]:
def bcra(codigo):
    box = [4,3,19,26]
    fc = 28.28
    for i in range(0, len(box)):
      box[i] *= fc

    path = "http://www.bcra.gob.ar/Pdfs/PublicacionesEstadisticas/BoletinEstadistico/" + 'boldat' + str(codigo) +".pdf"
    tables = read_pdf(path, pages='314,316,318', area=[box], stream=True)
    
    misiones = pd.DataFrame()
    
    for tabla in tables:
      misiones = pd.concat(tables)
    misiones = misiones.rename(columns={'Unnamed: 0':'Actividad','Unnamed: 5':f'Misiones{str(codigo)}'})
    misiones = misiones[['Actividad',f'Misiones{str(codigo)}']]
    misiones['ID'] = range(len(misiones))
    misiones = misiones.set_index('ID')

    if codigo != 202001:
      misiones = misiones.drop(columns='Actividad')

    return misiones

In [4]:
def misiones(codes:list):
    primero = pd.concat([pd.DataFrame(bcra(202001))])
    definitivo = pd.concat([pd.DataFrame(bcra(i)) for i in codes], axis=1)
    definitivo2 = primero.merge(definitivo, how='left', on='ID') 
    return definitivo2

In [128]:
codes = [202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104, 202106, 202107]
df = misiones(codes)
df.head()

                                       Actividad  ... Misiones202107
ID                                                ...
0   Fabricación de papel y de productos de papel  ...        229,872
1                       Edición e impresión (32)  ...     22,787,116
2   Refinación del petróleo y comb. nuclear (33)  ...      1,317,913
3      Fabricación de prod. de caucho y plástico  ...      1,278,613
4    Fabricación de prod. minerales no metálicos  ...        994,580

[5 rows x 19 columns]

# **Prestamos por Actividad todas las provincias**

## Funciones

In [35]:
box = [4,2.8,19,27]
fc = 28.28
for i in range(0, len(box)):
  box[i] *= fc

box2 = [4.8,2.8,19,27]
fc = 28.28
for i in range(0, len(box)):
  box2[i] *= fc

In [36]:
def provincias(codigo,pages:list,box):
    path = "http://www.bcra.gob.ar/Pdfs/PublicacionesEstadisticas/BoletinEstadistico/" + 'boldat' + str(codigo) +".pdf"
    tables = read_pdf(path, pages=pages, area=[box], stream=True)

    tablas1 = pd.DataFrame()
    tablas2 = pd.DataFrame()

    for page in pages:
      if page % 2 != 0:
          tablas1 = pd.concat(tables)
          tablas1 = tablas1.drop(columns=['(6)(7)','Unnamed: 1','Unnamed: 2','Unnamed: 4'])
          tablas1 = tablas1.rename(columns={'Unnamed: 0':'Actividad','Unnamed: 3':'Capital Federal','Aires':'Gran Buenos Aires','Unnamed: 5':'Resto Bs As',
                                          'Unnamed: 6':'Catamarca','Unnamed: 7':'Cordoba','Unnamed: 8':'Corrientes','Unnamed: 9':'Chaco','Unnamed: 10':'Chubut',
                                          'Unnamed: 11':'Entre Rios','Unnamed: 12':'Formosa','Unnamed: 13':'Jujuy'})
          tablas1['ID'] = range(len(tablas1))
          return tablas1

      else:
        for tabla in tables:
          if len(tabla.columns) <= 17:
            tabla = tabla.drop(columns=['(6)(7)','Unnamed: 1'])
            tabla = tabla.rename(columns={'Unnamed: 0':'Actividad','Unnamed: 2':'La Pampa','Unnamed: 3':'La Rioja','Unnamed: 4':'Mendoza',
                                            'Unnamed: 5':'Misiones','Unnamed: 6':'Neuquen','Unnamed: 7':'Rio Negro','Unnamed: 8':'Salta',
                                            'Unnamed: 9':'San Juan','Unnamed: 10':'San Luis','Unnamed: 11':'Santa Cruz','Unnamed: 12':'Santa Fe',
                                            'Estero':'Santiago del Estero','Fuego':'Tierra del Fuego','Unnamed: 13':'Tucuman'})
            tabla = pd.DataFrame(tabla)
            tablas2 = tablas2.append(tabla)

          elif len(tabla.columns) > 17:
            tabla = tabla.drop(columns=['(6)(7)','Unnamed: 1','Unnamed: 13'])
            tabla = tabla.rename(columns={'Unnamed: 0':'Actividad','Unnamed: 2':'La Pampa','Unnamed: 3':'La Rioja','Unnamed: 4':'Mendoza',
                                          'Unnamed: 5':'Misiones','Unnamed: 6':'Neuquen','Unnamed: 7':'Rio Negro','Unnamed: 8':'Salta',
                                          'Unnamed: 9':'San Juan','Unnamed: 10':'San Luis','Unnamed: 11':'Santa Cruz','Unnamed: 12':'Santa Fe',
                                          'Estero':'Santiago del Estero','Fuego':'Tierra del Fuego','Unnamed: 14':'Tucuman'})
            tabla = pd.DataFrame(tabla)
            tablas2 = tablas2.append(tabla)
          
            tablas2 = tablas2.drop(columns=['Actividad'])
            tablas2['ID'] = range(len(tablas2))
            return tablas2

In [37]:
def provincias2(codigo,pages:list,box):
  path = "http://www.bcra.gob.ar/Pdfs/PublicacionesEstadisticas/BoletinEstadistico/" + 'boldat' + str(codigo) +".pdf"
  tables = read_pdf(path, pages=pages, area=[box], stream=True)

  df = pd.concat(tables).reset_index(drop=True)
  
  if pages[0] % 2 != 0:
    df = df.drop(columns=['(6)(7)','Unnamed: 1','Unnamed: 2','Unnamed: 4'])
    df = df.rename(columns={'Unnamed: 0':'Actividad','Unnamed: 3':'Capital Federal','Aires':'Gran Buenos Aires','Unnamed: 5':'Resto Bs As',
                            'Unnamed: 6':'Catamarca','Unnamed: 7':'Cordoba','Unnamed: 8':'Corrientes','Unnamed: 9':'Chaco','Unnamed: 10':'Chubut',
                            'Unnamed: 11':'Entre Rios','Unnamed: 12':'Formosa','Unnamed: 13':'Jujuy'})
    return df
    
  else:
    df = df.drop(columns=['(6)(7)','Unnamed: 0','Unnamed: 1'])
    df = df.rename(columns={'Unnamed: 2':'La Pampa','Unnamed: 3':'La Rioja','Unnamed: 4':'Mendoza',
                            'Unnamed: 5':'Misiones','Unnamed: 6':'Neuquen','Unnamed: 7':'Rio Negro','Unnamed: 8':'Salta',
                            'Unnamed: 9':'San Juan','Unnamed: 10':'San Luis','Unnamed: 11':'Santa Cruz','Unnamed: 12':'Santa Fe',
                            'Estero':'Santiago del Estero','Fuego':'Tierra del Fuego','Unnamed: 13':'Tucuman'})
    
    return df

In [38]:
def whitespace_remover(df):
  for i in df.columns:
    if i != 'Actividad' and df[i].dtype == 'object':
      df[i] = df[i].str.replace(" ", "")
    else:
      pass

  return df

## Datos leídos

### Año 2019

In [70]:
enero2019 = provincias2(201901, pages=[307,309], box=box).merge(provincias2(201901, pages=[308,310], box=box), left_index=True, right_index=True)
febrero2019 = provincias2(201902, pages=[307,309], box=box).merge(provincias2(201902, pages=[308,310], box=box), left_index=True, right_index=True)
marzo2019 = provincias2(201903, pages=[307,309], box=box).merge(provincias2(201903, pages=[308,310], box=box), left_index=True, right_index=True)
abril2019 = provincias2(201904, pages=[307,309], box=box).merge(provincias2(201904, pages=[308,310], box=box), left_index=True, right_index=True)
mayo2019 = provincias2(201905, pages=[307,309], box=box).merge(provincias2(201905, pages=[308,310], box=box), left_index=True, right_index=True)
junio2019 = provincias2(201906, pages=[307,309], box=box).merge(provincias2(201906, pages=[308,310], box=box), left_index=True, right_index=True)
julio2019 = provincias2(201907, pages=[307,309], box=box).merge(provincias2(201907, pages=[308,310], box=box), left_index=True, right_index=True)
agosto2019 = provincias2(201908, pages=[307,309], box=box).merge(provincias2(201908, pages=[308,310], box=box), left_index=True, right_index=True)
septiembre2019 = provincias2(201909, pages=[307,309], box=box).merge(provincias2(201909, pages=[308,310], box=box), left_index=True, right_index=True)
octubre2019 = provincias2(201910, pages=[307,309], box=box).merge(provincias2(201910, pages=[308,310], box=box), left_index=True, right_index=True)
noviembre2019 = whitespace_remover(provincias2(201911, pages=[307,309], box=box2).merge(provincias2(201911, pages=[308,310], box=box2), left_index=True, right_index=True))
diciembre2019 = provincias(201912, pages=[307,309], box=box).merge(provincias(201912, pages=[308,310], box=box), how='left', on='ID').drop(columns=['ID'])

### Agregamos columnas años 2019

In [71]:
# Ejecutar una sola vez
enero2019['Año'] = 'ENE-2019'
cols = enero2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
enero2019 = enero2019[cols]

febrero2019['Año'] = 'FEB-2019'
cols = febrero2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
febrero2019 = febrero2019[cols]

marzo2019['Año'] = 'MAR-2019'
cols = marzo2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
marzo2019 = marzo2019[cols]

abril2019['Año'] = 2019
cols = abril2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
abril2019 = abril2019[cols]

mayo2019['Año'] = 'ABR-2019'
cols = mayo2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
mayo2019 = mayo2019[cols]

junio2019['Año'] = 'JUN-2019'
cols = junio2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
junio2019 = junio2019[cols]

julio2019['Año'] = 'JUL-2019'
cols = julio2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
julio2019 = julio2019[cols]

agosto2019['Año'] = 'AGO-2019'
cols = agosto2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
agosto2019 = agosto2019[cols]

septiembre2019['Año'] = 'SEP-2019'
cols = septiembre2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
septiembre2019 = septiembre2019[cols]

octubre2019['Año'] = 'OCT-2019'
cols = octubre2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
octubre2019 = octubre2019[cols]

noviembre2019['Año'] = 'NOV-2019'
cols = noviembre2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
noviembre2019 = noviembre2019[cols]

diciembre2019['Año'] = 'DIC-2019'
cols = diciembre2019.columns.tolist()
cols = cols[-1:] + cols[:-1]
diciembre2019 = diciembre2019[cols]

### Año 2020

In [72]:
enero2020 = provincias(202001, pages=[307,309], box=box).merge(provincias(202001, pages=[308,310], box=box), how='left', on='ID').drop(columns=['ID'])
febrero2020 = provincias(202002, pages=[307,309], box=box).merge(provincias(202002, pages=[308,310], box=box), how='left', on='ID').drop(columns=['ID'])
marzo2020 = provincias(202003, pages=[307,309], box=box).merge(provincias(202003, pages=[308,310], box=box), how='left', on='ID').drop(columns=['ID'])
abril2020 = provincias(202004, pages=[307,309], box=box).merge(provincias(202004, pages=[308,310], box=box), how='left', on='ID').drop(columns=['ID'])
mayo2020 = provincias(202005, pages=[307,309], box=box).merge(provincias(202005, pages=[308,310], box=box), how='left', on='ID').drop(columns=['ID'])
junio2020 = provincias(202006, pages=[309,311], box=box).merge(provincias(202006, pages=[310,312], box=box), how='left', on='ID').drop(columns=['ID'])
julio2020 = provincias(202007, pages=[309,311], box=box).merge(provincias(202007, pages=[310,312], box=box), how='left', on='ID').drop(columns=['ID'])
agosto2020 = provincias(202008, pages=[309,311], box=box).merge(provincias(202008, pages=[310,312], box=box), how='left', on='ID').drop(columns=['ID'])
septiembre2020 = provincias(202009, pages=[313,315], box=box).merge(provincias(202009, pages=[314,316], box=box), how='left', on='ID').drop(columns=['ID'])
octubre2020 = provincias(202010, pages=[313,315], box=box).merge(provincias(202010, pages=[314,316], box=box), how='left', on='ID').drop(columns=['ID'])
noviembre2020 = provincias(202011, pages=[313,315], box=box).merge(provincias(202011, pages=[314,316], box=box), how='left', on='ID').drop(columns=['ID'])
diciembre2020 = provincias(202012, pages=[313,315], box=box).merge(provincias(202012, pages=[314,316], box=box), how='left', on='ID').drop(columns=['ID'])

### Agregamos columnas años 2020

In [73]:
enero2020['Año'] = 'ENE-2020'
cols = enero2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
enero2020 = enero2020[cols]

febrero2020['Año'] = 'FEB-2020'
cols = febrero2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
febrero2020 = febrero2020[cols]

marzo2020['Año'] = 'MAR-2020'
cols = marzo2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
marzo2020 = marzo2020[cols]

abril2020['Año'] = 'ABR-2020'
cols = abril2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
abril2020 = abril2020[cols]

mayo2020['Año'] = 'MAY-2020'
cols = mayo2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
mayo2020 = mayo2020[cols]

junio2020['Año'] = 'JUN-2020'
cols = junio2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
junio2020 = junio2020[cols]

julio2020['Año'] = 'JUL-2020'
cols = julio2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
julio2020 = julio2020[cols]

agosto2020['Año'] = 'AGO-2020'
cols = agosto2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
agosto2020 = agosto2020[cols]

septiembre2020['Año'] = 'SEP-2020'
cols = septiembre2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
septiembre2020 = septiembre2020[cols]

octubre2020['Año'] = 'OCT-2020'
cols = octubre2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
octubre2020 = octubre2020[cols]

noviembre2020['Año'] = 'NOV-2020'
cols = noviembre2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
noviembre2020 = noviembre2020[cols]

diciembre2020['Año'] = 'DIC-2020'
cols = diciembre2020.columns.tolist()
cols = cols[-1:] + cols[:-1]
diciembre2020 = diciembre2020[cols]

### Año 2021

In [74]:
enero2021 = provincias(202101, pages=[313,315], box=box).merge(provincias(202101, pages=[314,316], box=box), how='left', on='ID').drop(columns=['ID'])
febrero2021 = provincias(202102, pages=[313,315], box=box).merge(provincias(202102, pages=[314,316], box=box), how='left', on='ID').drop(columns=['ID'])
marzo2021 = provincias(202103, pages=[313,315], box=box).merge(provincias(202103, pages=[314,316], box=box), how='left', on='ID').drop(columns=['ID'])
abril2021 = provincias(202104, pages=[313,315], box=box).merge(provincias(202104, pages=[314,316], box=box), how='left', on='ID').drop(columns=['ID'])
mayo2021 = provincias2(202105, pages=[313,315], box=box2).merge(provincias2(202105, pages=[314,316], box=box2), left_index=True, right_index=True)
junio2021 = provincias2(202106, pages=[313,315], box=box).merge(provincias2(202106, pages=[314,316], box=box), left_index=True, right_index=True)

### Agregamos columnas años 2021

In [75]:
enero2021['Año'] = 'ENE-2021'
cols = enero2021.columns.tolist()
cols = cols[-1:] + cols[:-1]
enero2021 = enero2021[cols]

febrero2021['Año'] = 'FEB-2021'
cols = febrero2021.columns.tolist()
cols = cols[-1:] + cols[:-1]
febrero2021 = febrero2021[cols]

marzo2021['Año'] = 'MAR-2021'
cols = marzo2021.columns.tolist()
cols = cols[-1:] + cols[:-1]
marzo2020 = marzo2021[cols]

abril2021['Año'] = 'ABR-2021'
cols = abril2021.columns.tolist()
cols = cols[-1:] + cols[:-1]
abril2021 = abril2021[cols]

mayo2021['Año'] = 'MAY-2021'
cols = mayo2021.columns.tolist()
cols = cols[-1:] + cols[:-1]
mayo2021 = mayo2021[cols]

junio2021['Año'] = 'JUN-2021'
cols = junio2021.columns.tolist()
cols = cols[-1:] + cols[:-1]
junio2021 = junio2021[cols]

## DataFrame con todos los datos

In [76]:
dfs = [enero2019,febrero2019,marzo2019,abril2019,mayo2019,junio2019,julio2019,agosto2019,septiembre2019,octubre2019,noviembre2019,diciembre2019,
       enero2020,febrero2020,marzo2020,abril2020,mayo2020,junio2020,julio2020,agosto2020,septiembre2020,octubre2020,noviembre2020,diciembre2020,
       enero2021,febrero2021,marzo2021,abril2021,mayo2021,junio2021]

In [77]:
dfs = pd.concat(dfs)
dfs

          Año  ...     Tucuman
0    ENE-2019  ...     408,254
1    ENE-2019  ...  21,806,137
2    ENE-2019  ...   6,706,569
3    ENE-2019  ...   6,259,603
4    ENE-2019  ...   4,740,486
..        ...  ...         ...
113  JUN-2021  ...      31,016
114  JUN-2021  ...     335,868
115  JUN-2021  ...          91
116  JUN-2021  ...   3,075,472
117  JUN-2021  ...  69,173,642

[3540 rows x 27 columns]

In [84]:
dfs.to_csv('/content/drive/MyDrive/Ministerio del Agro/Prestamos BCRA/PrestamosMES', sep=';')

In [79]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [80]:
for i in dfs.columns:
    if i == 'Año':
      dfs[i] = dfs[i].str.replace("ENE-2019","01-2019")
      dfs[i] = dfs[i].str.replace("FEB-2019","02-2019")
      dfs[i] = dfs[i].str.replace("MAR-2019","03-2019")
      dfs[i] = dfs[i].str.replace("ABR-2019","04-2019")
      dfs[i] = dfs[i].str.replace("MAY-2019","05-2019")
      dfs[i] = dfs[i].str.replace("JUN-2019","06-2019")
      dfs[i] = dfs[i].str.replace("JUL-2019","07-2019")
      dfs[i] = dfs[i].str.replace("AGO-2019","08-2019")
      dfs[i] = dfs[i].str.replace("SEP-2019","09-2019")
      dfs[i] = dfs[i].str.replace("OCT-2019","10-2019")
      dfs[i] = dfs[i].str.replace("NOV-2019","11-2019")
      dfs[i] = dfs[i].str.replace("DIC-2019","12-2019")
    else:
      pass

In [81]:
for i in dfs.columns:
    if i == 'Año':
      dfs[i] = dfs[i].str.replace("ENE-2020","01-2020")
      dfs[i] = dfs[i].str.replace("FEB-2020","02-2020")
      dfs[i] = dfs[i].str.replace("MAR-2020","03-2020")
      dfs[i] = dfs[i].str.replace("ABR-2020","04-2020")
      dfs[i] = dfs[i].str.replace("MAY-2020","05-2020")
      dfs[i] = dfs[i].str.replace("JUN-2020","06-2020")
      dfs[i] = dfs[i].str.replace("JUL-2020","07-2020")
      dfs[i] = dfs[i].str.replace("AGO-2020","08-2020")
      dfs[i] = dfs[i].str.replace("SEP-2020","09-2020")
      dfs[i] = dfs[i].str.replace("OCT-2020","10-2020")
      dfs[i] = dfs[i].str.replace("NOV-2020","11-2020")
      dfs[i] = dfs[i].str.replace("DIC-2020","12-2020")
    else:
      pass

In [82]:
for i in dfs.columns:
    if i == 'Año':
      dfs[i] = dfs[i].str.replace("ENE-2021","01-2021")
      dfs[i] = dfs[i].str.replace("FEB-2021","02-2021")
      dfs[i] = dfs[i].str.replace("MAR-2021","03-2021")
      dfs[i] = dfs[i].str.replace("ABR-2021","04-2021")
      dfs[i] = dfs[i].str.replace("MAY-2021","05-2021")
      dfs[i] = dfs[i].str.replace("JUN-2021","06-2021")
    else:
      pass

In [83]:
dfs

         Año  ...     Tucuman
0    01-2019  ...     408,254
1    01-2019  ...  21,806,137
2    01-2019  ...   6,706,569
3    01-2019  ...   6,259,603
4    01-2019  ...   4,740,486
..       ...  ...         ...
113  06-2021  ...      31,016
114  06-2021  ...     335,868
115  06-2021  ...          91
116  06-2021  ...   3,075,472
117  06-2021  ...  69,173,642

[3540 rows x 27 columns]

# **Alphacast**

In [55]:
!pip install alphacast

Collecting alphacast
  Downloading alphacast-0.1.1-py3-none-any.whl (3.9 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from alphacast) (1.1.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from alphacast) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->alphacast) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->alphacast) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->alphacast) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->alphacast) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->alphacast) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->alphacast) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->alphacast) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->alphacast) (3.0.4)
Installing collected packages: alphacast
Successfully installed alphacast-0.1.1

In [56]:
from alphacast import Alphacast
alphacast = Alphacast('ak_JfHRRcvvlfnEGAK8YXta')

In [159]:
alphacast.repository.read_all()

[{'accountId': 708,
  'description': 'You can use you first public repository to share content with the community',
  'id': 1002,
  'name': 'My Public Repo',
  'permission': 'Owner',
  'privacy': 'Public',
  'slug': 'public-repo'},
 {'accountId': 708,
  'description': 'Escrapeos y transformación de datos realizados por el Licenciado en Economía Juan Pablo Benitez para la vacante laboral Data Analyst',
  'id': 1243,
  'name': 'Vacante Data Analyst',
  'permission': 'Owner',
  'privacy': 'Private',
  'slug': 'vacante-data-analyst'},
 {'accountId': 708,
  'description': 'Repositorio para el puesto DAta Analyst',
  'id': 1245,
  'name': 'Repo Juan Benitez',
  'permission': 'Owner',
  'privacy': 'Public',
  'slug': 'repo-juan-benitez'},
 {'accountId': 708,
  'description': 'Repositorio para el puesto Data Analyst',
  'id': 1246,
  'name': 'Repo Juan Benitez1',
  'permission': 'Owner',
  'privacy': 'Public',
  'slug': 'repo-juan-benitez1'},
 {'accountId': 708,
  'description': 'Repositorio para el puesto Data Analyst',
  'id': 1249,
  'name': 'Repo Data Analyst',
  'permission': 'Owner',
  'privacy': 'Public',
  'slug': 'repo-data-analyst'}]

In [160]:
alphacast.datasets.create('Préstamo BCRA Produccion Primaria', 1249, 'Scrapping de datos de préstamos del BCRA')

{'createdAt': '2021-10-16T03:42:55.055281',
 'id': 8106,
 'name': 'Préstamo BCRA Produccion Primaria',
 'repositoryId': 1249}

In [161]:
alphacast.datasets.create('Préstamo BCRA Misiones por Actividad', 1249, 'Scrapping de datos de préstamos del BCRA')

{'createdAt': '2021-10-16T03:43:03.687917',
 'id': 8107,
 'name': 'Préstamo BCRA Misiones por Actividad',
 'repositoryId': 1249}

In [162]:
df2 = df
df2 = df2.drop(columns={'level_0','index','ID'})
# df2 = df2.transpose()
columnas = df2['Actividad'].to_list()
df2 = df2.transpose()
df2.columns = columnas
df2 = df2.reset_index()
df2 = df2.drop(0)
df2 = df2.rename(columns={'index':'Date'})

for i in df2.columns:
    if i == 'Date':
      df2[i] = df2[i].str.replace("Misiones202001","01-2020")
      df2[i] = df2[i].str.replace("Misiones202002","02-2020")
      df2[i] = df2[i].str.replace("Misiones202003","03-2020")
      df2[i] = df2[i].str.replace("Misiones202004","04-2020")
      df2[i] = df2[i].str.replace("Misiones202005","05-2020")
      df2[i] = df2[i].str.replace("Misiones202006","06-2020")
      df2[i] = df2[i].str.replace("Misiones202007","07-2020")
      df2[i] = df2[i].str.replace("Misiones202008","08-2020")
      df2[i] = df2[i].str.replace("Misiones202009","09-2020")
      df2[i] = df2[i].str.replace("Misiones202010","10-2020")
      df2[i] = df2[i].str.replace("Misiones202011","11-2020")
      df2[i] = df2[i].str.replace("Misiones202012","12-2020")
      df2[i] = df2[i].str.replace("Misiones202101","01-2021")
      df2[i] = df2[i].str.replace("Misiones202102","02-2021")
      df2[i] = df2[i].str.replace("Misiones202103","03-2021")
      df2[i] = df2[i].str.replace("Misiones202104","04-2021")
      df2[i] = df2[i].str.replace("Misiones202105","05-2021")
      df2[i] = df2[i].str.replace("Misiones202106","06-2021")
      df2[i] = df2[i].str.replace("Misiones202107","07-2021")
    else:
      pass
    
df2['Periodo'] = range(0,len(df2))
df2

       Date  ... Periodo
1   01-2020  ...       0
2   02-2020  ...       1
3   03-2020  ...       2
4   04-2020  ...       3
5   05-2020  ...       4
6   06-2020  ...       5
7   07-2020  ...       6
8   08-2020  ...       7
9   09-2020  ...       8
10  10-2020  ...       9
11  11-2020  ...      10
12  12-2020  ...      11
13  01-2021  ...      12
14  02-2021  ...      13
15  03-2021  ...      14
16  04-2021  ...      15
17  06-2021  ...      16
18  07-2021  ...      17

[18 rows x 171 columns]

In [163]:
# df1 = dfs.drop(dfs['Actividad'=='Total de actividades económicas'])
# df1
df1 = dfs
df1 = df1.loc[df1['Actividad'] == 'Producción primaria']
df1 = df1.drop(columns='Actividad')
df1['Periodo'] = range(len(df1))
df1

       Año Capital Federal  ...    Tucuman Periodo
2  01-2019     176,365,002  ...  6,706,569       0
2  02-2019     162,325,673  ...  5,671,894       1
2  03-2019     161,801,135  ...  5,693,395       2
2      NaN     160,995,885  ...  5,663,664       3
2  04-2019     173,880,157  ...  5,717,589       4
2  06-2019     175,953,463  ...  5,519,968       5
2  07-2019     175,994,650  ...  5,521,314       6
2  08-2019     171,180,103  ...  4,817,335       7
2  09-2019     178,198,536  ...  4,910,242       8
2  10-2019     178,197,110  ...  4,910,148       9
2  11-2019     209,937,490  ...  6,019,502      10
2  12-2019     209,119,437  ...  6,141,940      11
2  01-2020     209,636,450  ...  6,158,273      12
2  02-2020     202,535,399  ...  5,918,154      13
2  03-2021     256,253,397  ...  8,804,366      14
2  04-2020     208,214,127  ...  6,316,461      15
2  05-2020     208,103,352  ...  6,312,398      16
2  06-2020     198,858,433  ...  6,030,010      17
2  07-2020     197,860,475  ...  5,955,376      18
2  08-2020     225,866,666  ...  7,109,990      19
2  09-2020     224,415,373  ...  7,181,520      20
2  10-2020     224,685,628  ...  7,190,309      21
2  11-2020     229,032,905  ...  8,891,983      22
2  12-2020     229,599,355  ...  8,780,063      23
2  01-2021     229,599,355  ...  8,780,063      24
2  02-2021     256,149,417  ...  8,802,825      25
2  03-2021     256,253,397  ...  8,804,366      26
2  04-2021     256,196,181  ...  8,803,098      27
2  05-2021     239,632,246  ...  9,289,790      28
2  06-2021     239,096,782  ...  9,281,913      29

[30 rows x 27 columns]

In [164]:
alphacast.datasets.dataset(8106).initialize_columns(dateColumnName ="Año", entitiesColumnNames=["Periodo"], dateFormat= "%m-%Y")

b'{"id": 8106, "columnDefinitions": [{"sourceName": "A\\u00f1o", "dataType": "Date", "dateFormat": "%m-%Y", "isEntity": "True"}, {"sourceName": "Periodo", "isEntity": "True"}], "updateAt": "2021-10-16T03:44:09.894111"}'

In [165]:
alphacast.datasets.dataset(8106).upload_data_from_df(df1, deleteMissingFromDB = False, onConflictUpdateDB = False, uploadIndex=False)

b'{"id": 54842, "status": "Requested", "createdAt": "2021-10-16T03:44:12.011735", "datasetId": 8106}'

In [166]:
alphacast.datasets.dataset(8107).initialize_columns(dateColumnName ="Date", entitiesColumnNames=["Periodo"], dateFormat= "%m-%Y")

b'{"id": 8107, "columnDefinitions": [{"sourceName": "Date", "dataType": "Date", "dateFormat": "%m-%Y", "isEntity": "True"}, {"sourceName": "Periodo", "isEntity": "True"}], "updateAt": "2021-10-16T03:44:19.619171"}'

In [167]:
alphacast.datasets.dataset(8107).upload_data_from_df(df2, deleteMissingFromDB = False, onConflictUpdateDB = False, uploadIndex=False)

b'{"id": 54843, "status": "Requested", "createdAt": "2021-10-16T03:44:24.513649", "datasetId": 8107}'